@using DevExtreme.AspNet.Mvc
@using DAL.Models

<script src="~/js/grids/dealers-grid.js"></script>
@(Html.DevExtreme().DataGrid<DAL.Models.DealerModel>()
    .ID("dealersGrid")
    .ShowBorders(true)
    .Width("100%")
    .ColumnAutoWidth(false)
    .Scrolling(s => s
        .Mode(GridScrollingMode.Standard)
        .ShowScrollbar(ShowScrollbarMode.Always)
    )
    .Paging(p => p.Enabled(false))
    .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(false)
        .AllowAdding(true)
        .AllowDeleting(false)
        .Popup(p => p
            .Title("Add Dealer")
            .ShowTitle(true)
            .Width(700)
            .Height(400)
        )
        .Form(f => f.Items(items =>
        {
            items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.Name).DataField("name");
                    groupItems.AddSimpleFor(m => m.WebAddress).DataField("webAddress");
                    groupItems.AddSimpleFor(m => m.Email).DataField("email").Visible(false);
                    groupItems.AddSimpleFor(m => m.OpeningDate).DataField("openingDate")
                        .Editor(e => e.DateBox()
                            .DisplayFormat("dd/MM/yyyy HH:mm")
                            .Type(DateBoxType.DateTime)
                            .PickerType(DateBoxPickerType.Calendar)
                            .Width(200));
                    groupItems.AddSimpleFor(m => m.AddressLine1).DataField("addressLine1");
                    groupItems.AddSimpleFor(m => m.PostalCode).DataField("postalCode");
                });
        }))
    )
    .Columns(columns =>
    {
        columns.Add()
        .Caption("Actions")
        .AllowFiltering(false)
        .Width(150)
        .AllowSorting(false)
        .CellTemplate(@<text>
    <div class="d-flex justify-content-around">
        <button class="btn btn-link text-primary p-0 text-decoration-none" onclick="editDealerRecord(<%- data.id %>)">
            <i class="bi bi-pencil-square me-1"></i>
            Edit
        </button>
        <button class="btn btn-link text-danger p-0 text-decoration-none" onclick="deleteDealerRecord(<%- data.id %>)">
            <i class="bi bi-trash me-1"></i>
            Delete
        </button>
    </div>
</text>);
        columns.AddFor(m => m.ID).DataField("id").Width(130);
        columns.AddFor(m => m.Name).DataField("name").Width(260);
        columns.AddFor(m => m.WebAddress).DataField("webAddress").Width(260);
        columns.AddFor(m => m.Email).DataField("email").Width(260);
        columns.AddFor(m => m.OpeningDate).DataField("openingDate").Width(260);
        columns.AddFor(m => m.AddressLine1).DataField("addressLine1").Width(260);
        columns.AddFor(m => m.PostalCode).DataField("postalCode").Visible(false);
        
    })
    .DataSource(d => d.Mvc()
        .Controller("Home")
        .LoadAction("GetDealers")
        .InsertAction("AddDealer")
        .DeleteAction("DeleteDealer")
        .UpdateAction("UpdateDealer")
        .Key("id")
    )
)


<style>
    #dealersGrid {
        width: 100%;
        overflow-x: auto;
    }
</style>